html{
    font-family: "Inter", sans-serif;
    font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
    background-color: black;
}

p,h1,h2, h5,a{
    color: white;
}



header{
    height: 120px;
}

header .navbar{
    padding: 40px 0;
}

header .navbar a{
    color: white;
}

section{
    margin-top: 119px;
}

section .profile img{
    width: 100%;
    border-radius: 60%;
}

section .name{
    font-size: 80px;
    font-weight: 200;
    margin: 8px 0;
    background: linear-gradient(to left, #9845E8, #33D2FF, #DD5789);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section p{
    font-size: 18px;
    font-weight: 200;
    color: white;
}

section a, .projects a{
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    background-color: white;
    padding: 8px 20px;
}

section a:hover, main .projects a:hover{
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    background-color: black;
    transition: 300ms ease-in-out;
}

main{
    margin-top: 130px;
}

main .projects{
display: inline;
}

main .projects h1{
    font-size: 30px;
    font-weight: 300;
    display: flex;
    
}

main .projects p{
    font-size: 18px;
    font-weight: 200;
}

/* main .projects a{
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    background-color: black;
    padding: 8px 20px;

} */

/* main .projects a:hover{
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    background-color: black;
    transition: 300ms ease-in-out;
} */

main .projects img{
    width: 40px;
    height: 40px;
}

main .app_link{
    display: flex;
    justify-content: space-between;
}

main .app_link a{
    text-decoration: none;
    color: black;
}

button{
    border: none;
    background: none;
}

/* Accordion */

.accordion {
    width: 90%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .accordion-item:first-child {
    border-top: none;
  }
  
  .accordion-link {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: left;

    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  
  .accordion-content {
    padding: 15px;
    display: none;
    border-top: 1px solid #ccc;
  }

  input[type="text"],
input[type="email"], .main, button{
  background-color: black;
  border: 1px solid white;  
  padding: 10px;             
  border-radius: 5px;
  font-size: 16px;           
}
